.grid {
  margin:1em auto;
  border-collapse:collapse }
.grid td {
    cursor:pointer;
    min-width:30px; height:30px;
    border:1px solid #ccc;
    text-align:center;
    font-family:sans-serif; font-size:13px
}
.grid td.hasBomb {
    background-color:rgb(96, 77, 55);
    font-weight:bold; color:white;
}
.grid td.bomb {
    background-color:red;
    font-weight:bold;
}
.grid td.noBomb {
    background-color:grey;
    font-weight:bold;
}
.grid td.discovered {
    background-color:green;
    font-weight:bold;
}
.winner {
  color:red;
}
